/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#logo-container {
  max-height: 100%;
  mix-blend-mode: multiply;
}

#tempMap {
  height: 100%;
  width: 100%;
}

#search-bar, #weather-section, #results-section {
  transition: all 0.2s linear;
}

#search-bar:hover, #weather-section:hover, #results-section:hover { 
  border-width: 5px; 
  border-color: #80cbc4;
  border-style: solid;
  border-radius: 5px;
}

.material-icons {
  font-size: 30px;
}