/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#logo-container {
  max-height: 100%;
  mix-blend-mode: multiply;
}

#map {
  height: 475px;
  max-width: 100%;
}
.results-div {
  display: inline-block;
}

#search-bar, #weather-section, #results-section {
  transition: all 0.2s linear;
}

#search-bar:hover, #weather-section:hover, #results-section:hover { 
  border-width: 5px; 
  border-color: #80cbc4;
  border-style: solid;
  border-radius: 5px;
}

.material-icons {
  font-size: 30px;
}

#results {
  max-height: 450px;
  overflow: auto;
}

#results::-webkit-scrollbar {
  width: 1em;
}

#results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#results::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}