/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#logo-container {
  max-height: 100%;
}

.btn-large {
  background-image: linear-gradient(to right, #80deea, #3E92CC);
  transition: all 1s linear;
}

.btn-large:hover {
  background-image: none;
  background-color: #00bcd4;
}

#map {
  height: 600px;
  max-width: 100%;
}
.results-div {
  display: inline-block;
  background-color: white;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  transition: all 0.3s linear;
}

.placeImg {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 5px;
}

.submit-form {
  float: left;
}

.widget-right {
  width: 100% !important;
}

.results-div:hover {
  box-shadow: 0px 0px 20px #e1f5fe;
}

.business {
  font-weight: bold;
}

p {
  font-size: 18px;
  text-align: start;
}

.reviews {
  margin: 5px;
}

.bigger {
  color: white;
  font-size: 30px;
}

#results, #results2 {
  text-align: center;
}

#search-bar, #weather-section, #results-section, #results-section2, #map {
  transition: all 0.3s linear;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
}

#search-bar:hover, #weather-section:hover, #results-section:hover, #results-section2:hover, #map:hover { 
  border-color: #80cbc4;
}

.material-icons {
  font-size: 30px;
}

#results, #results2 {
  max-height: 450px;
  overflow: auto;
}

#results::-webkit-scrollbar, #results2::-webkit-scrollbar {
  width: 1em;
}

#results::-webkit-scrollbar-track, #results2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#results::-webkit-scrollbar-thumb, #results2::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close, .close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close2:hover, .close:focus, .close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}